body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #333333;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-accomodation {
    width: 75px;
    height: 72px;
    background-position: -10px -10px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -105px -10px;
}

.sprite-logo {
    width: 113px;
    height: 39px;
    background-position: -199px -10px;
}

.sprite-logo_down {
    width: 113px;
    height: 39px;
    background-position: -332px -10px;
}

.sprite-logo_hvr {
    width: 113px;
    height: 39px;
    background-position: -465px -10px;
}

.sprite-souvenirs {
    width: 64px;
    height: 76px;
    background-position: -598px -10px;
}

h1{
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

h2{
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

h3{
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}
 .container {
   width: 1200px;
   margin: 0 auto;
 }

 .main-header{
   width: 1200px;
      position:relative;
 }
 .main-navigator{

 }
.main-navigator ul{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
.main-navigator li {
   width: 240px;
   text-align: center;
   list-style: none;
   box-sizing: border-box;
   padding: 15px 0px 15px;
}

.main-navigator a:hover {
  color : #81b3d2;
}

.main-navigator a:active {
  opacity: 0.3;
  color: #000000;
}

.main-navigator .active {
  color: #766357;
}
.main-navigator .active:hover {
  color: #604e43;
}

.main-navigator .active:active {
  color: #766357;
  opacity: 0.3;
}

.main-navigator a{
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.main-navigator li:nth-child(3){
  margin-left: 240px;
}

.logo{
  position: absolute;
  left: 531px;;
  top: 0px;
}

.main-img{
  text-align: center;
  background: #e4f1f8 url("../img/main_bg.jpg") no-repeat;
  background-position: 0px -55px;
  height: 505px;
  padding-top: 75px;
  padding-bottom: 85px;
  box-sizing: border-box;
}

.img-band{
  text-align: bottom;
  position: absolute;
  left: 75px;
  top: 504px;
}


.feature-head{
  width: 490px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
}
.feature-head p {
  padding-top: 16px;
}
.features{
  display: flex;
  height: 256px;
}

.feature-img img {
  height:256px;
  width:800px;
}

.services{
  display: flex;
  padding-top: 60px;
  padding-bottom: 85px;
}

.service-item h2{
  padding-top: 20px;
  margin: 0px;
}

.service-item p{
  display: block;
  margin: 0px;
  padding: 25px 55px 0px 55px;
}

.feature-item,
.service-item {
  text-align: center;
  width: 400px;
}

.feature-item {
  padding: 55px 0px 50px;
}

.feature-item h2 {
  margin: 0px;
 display: block;
 padding: 0px 120px 22px 120px;
}

.feature-item p {
  margin: 0px;
 display: block;
 padding: 22px 50px 0px 50px;
}

.f-blue .feature-item{
  background-color: #81b3d2;
  color: white;
}
.f-gray .feature-item{
  background-color: #eeeeee;
}

.f-blue h2{
  color: white;
}
.summary-item{
  width: 550px;
  text-align: center;
  margin: 0 auto;
  padding-top: 55px;
}

.summary-item h3{
  display: block;
  margin: 0px;
  font-size: 30px;
  line-height: 24px;
  padding-bottom: 30px;
}

.summary-item p {
  margin: 0px;
  line-height: 24px;
  padding-bottom: 45px;
}

.btn-find{
  margin-left: -10px;
  display:block;
  width: 570px;
  padding: 30px 0px 30px 0px;
  color: white;
  background-color: #766357;
}

.btn-find,
.btn-find-result,
.hashtag-btn{
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
}

.map {
  background: #cbdda9 url("../img/map.png") no-repeat;
  background-position: -40px -155px;
  width: 1200px;
  height: 475px;
}

.find-hotel {
  width: 570px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 55px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
  background-color: white;

}

.date-stay {
  display: flex;
  width: 460px;
  justify-content: space-between;
}
.date-stay input {
  width: 345px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  border-width: 0px;
}

.count-guests{
  display: flex;
  width: 230px;
}
/*не работает назначение ширины и цвета для инпут*/
.btn-move,
.find-hotel input:nth-child(3)
/*.count-guests input*/{
  width: 35px;
  background-color: #f2f2f2;
}
.btn-find-result {
  width: 460px;
  padding: 15px 0px 15px 0px;
  color: white;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-find-result:hover {
  background-color:#669ec0;
}

.btn-find-result:active {
  background-color:#5496bd;
  opacity: 0.3;
}

.main-footer {
  display: flex;
  width: 1200px;
  padding: 35px 0px 35px;
}

.footer-hashtag,
.footer-social{
  width: 400px;
  text-align: center;
}

.footer-hashtag{
 padding-top: 10px;
}

.social-btn {
  display: inline-block;
  vertical-align: center;
  background-color: #81b3d2;
  font-size: 0px;
  width: 45px;
  text-align: center;
  padding: 11px 0px 11px;
}

.social-btn span {
  font-size: 19px;
  line-height: 20px;
  color: #ffffff;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active{
  background-color: #5496bd;
  opacity: 0.3;
}

.hashtag-btn{
  color: #000000;
  padding: 47px 125px 47px 125px;
}

.footer-copyright {
  position: relative;
}

.footer-copyright span {
  display: block;
  padding:10px 0px 0px 102px;
}

.copyright-btn {
  position: absolute;
  background: #ffffff url("../img/sprite.png") no-repeat center;
  width: 113px;
  height: 39px;
  background-position: -199px -10px;
  top: 3px;
  left: 185px;
}

.copyright-btn:hover {
  background-position: -465px -10px;
}

.copyright-btn:active {
  background-position: -332px -10px;
}

.search-options {
  display: flex;
  margin: 0 auto;
  background: #e4f1f8 url("../img/filter_bg.png") no-repeat;
  background-position: 0px -55px;
  padding: 30px 0px 30px;
  box-sizing: border-box;
}

.option-check {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
}
.option-check label {
  margin-bottom: 25px;
}
.option-price {
  margin-left: 200px;
  width: 330px;
  display: flex;
  flex-wrap: wrap;
}

.lb-price input {
  width: 160px;
}
.option-price  input {
  width: 305px;
}

.btn-show {
  width: 135px;
  margin: 0px auto;
}

.search-results {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding: 30px 0px 65px 0px;
  align-items: center;
}
.result-all {
  width:165px;
  text-align: left;
}

.result-sort {
  width: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.result-sort ul{
  display: flex;
}

.result-sort li {
  width: 100px;
  text-align: left;
  list-style-type: none;
}

.result-asc {
  width: 241px;
  text-align: left;
}

.result-asc ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.result-asc li {
  list-style-type: none;
  width: 20px;
}

.result-item {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-bottom: 60px;
  justify-content: flex-end;
}

.result-general {
  width: 650px;
  margin-left: 30px;
}
.book {
  width: 230px;
  display: flex;
}
.result-info{
  width: 115px;
  height: 60px;
  text-align: left;
}

.result-rating {
    width: 241px;
    text-align: right;
  }
