body {
  font-size: 14px;
  font-family: PTSans;
  color: black;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
}

h1{
  font-size: 21px;
  font-family: PTSans;
  color: black;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

h2{
  font-size: 21px;
  font-family: PTSans;
  color: black;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
}

h3{
  font-size: 30px;
  font-family: PTSans;
  color: black;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
