body {
  font-size: 14px;
  font-family: PTSans;
  color: black;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
}

h1{
  font-size: 21px;
  font-family: PTSans;
  color: black;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

h2{
  font-size: 21px;
  font-family: PTSans;
  color: black;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
}

h3{
  font-size: 30px;
  font-family: PTSans;
  color: black;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
 .container {
   width: 1200px;
   margin: 0 auto;
 }

 .main-header{
 }
 .main-navigator{
 }
.main-navigator ul{
  display: flex;
  background-color: #e3f0f8;
  flex-direction: row;
}
.main-navigator li {
   width : 240px;
   text-align : center;
}

.main-navigator li:nth-child(3){
  margin-left : 240px;
}

.main-img{
  text-align: center;
}

.feature-head{
  width : 550px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.features{
  display: flex;
}
.features:nth-child(1) {
  margin-bottom: 60px;
  background-color: #e3f0f8;
}
.features:nth-child(2) {
  margin-bottom: 50px;
}
.features:nth-child(3) {
  margin-bottom: 55px;
}
.services{
  display: flex;
  margin-bottom: 85px;
}

.feature-item,
.service-item {
  text-align: center;
}
.summury-item{
  width : 550px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 55px;
}

.find-btn{
  width: 570px;
}

.find-hotel {
  width : 570px;
  display : flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 55px;
  background-color: #e3f0f8;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.date-stay {
  background-color: white;
  display : flex;
  width: 460px;
  justify-content: space-between;
}
.find-hotel label:nth-child(1) input,
.find-hotel label:nth-child(2) input {
  width : 345px;
  margin-bottom: 30px;
}

.count-guests{
  display : flex;
  margin-bottom: 30px;
  width : 230px;
  justify-content:flex-end;
}
.btn-move {
  width : 35px;
}
.btn-find {
  width: 460px;
}
.find-hotel label:nth-child(3) input,
.find-hotel label:nth-child(4) input {
  width : 35px;
}
.main-footer {
  display: flex;
  width : 1200px;
  margin-bottom: 35px;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 400px;
  text-align: center;
}
.search-options {
  display : flex;
  width : 1056px;
  margin : 0 auto;
}

.option-check {
  width : 300px;
  display: flex;
  flex-direction: column;
}
.option-check label {
  margin-bottom: 25px;
}
.option-price {
  margin-left: 200px;
  width : 330px;
  display : flex;
  flex-wrap: wrap;
}

.option-price label input {
  width : 160px;
}
.option-price  input {
  width : 305px;
}

.btn-show {
  width : 135px;
  margin : 0px auto;
}

.search-results {
  display : flex;
  width : 1056px;
  margin : 0 auto;
  /*align-items: center;*/
}
.result-all {
  width :165px;
  text-align: right;
}

.result-sort {
  width: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.result-sort ul{
  display : flex;
}

.result-sort li {
  width : 100px;
  text-align: left;
}

.result-asc {
  width : 241px;
  text-align: left;
}

.result-asc ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.result-asc li {
  width : 20px;
}

.result-item {
  display : flex;
  width : 1056px;
  margin : 0 auto;
  margin-bottom: 60px;
  justify-content: flex-end;
}

.resul-img {
  width : 135px;
}
.result-general {
  width : 650px;
  margin-left: 30px;
}

.result-rating {
    width : 241px;
    text-align: right;
  }
